

@import "font-awesome/css/font-awesome.css";

body{
  font-family: "Yu Gothic UI Semibold";
  background-color: #f2f2f2;
}
#dynamicTable{
  text-align: center;
  /*vertical-align: middle;*/
  /*horiz-align: center;*/
  font-size: 13px;
}
h3{
  font-family: "Yu Gothic UI Semibold";
  color: green;
}
label{
  color: black;
}
.buttonClass{
  margin-bottom: 2rem;
}
.fa-leaf{
  color: #25b406;
}
#name{
  text-transform: capitalize;
}
a{
  color: blue;
}
.custom-alert{
  color: #f30808;
  font-size: small;
  font-family: inherit;
  margin-top: 5px;
  margin-left: 9px;
}
.logoBrand{
  font-size: 20px;
  color: black;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.row{
  margin-right: -125px;
  margin-left: -105px;
}
::placeholder{
  color: darkgray;
}
legend{
  font-size: 25px;
  color: green;
}
#btn1, #btn2{
  background-color: #f2f2f2;
}
thead{
  color: green;
  text-transform: capitalize;
  font-weight: bold;
}
tbody{
  color: black;
  font-size: 13px;
}
/*Start*/
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
/*End*/

.card{
  background-color: #f2f2f2;
  border: none;
}
.card-header{
  border: none;
  background-color: #f2f2f2;
  margin-left: 2rem;
  margin-right: 2rem;
}
.paginationPage{
  margin-left: 60rem;
  margin-top: 2rem;
}
.card-body{
  border: none;
}
fieldset{
  font-family: "Yu Gothic UI Semibold";
}
#btnSubmit{
  /*color: white;*/
  /*border: none;*/
  margin-left: 30rem;
  width: 10%;
  margin-right: 10px;
  /*background: #1aa81a;*/
}
#btnReset{
  /*color: white;*/
  /*border: none;*/
  width: 10%;
  margin-right: 2rem;
  /*background: #13a9c4;*/
}
table{
  margin-left: 2rem;
  margin-top: 3rem;
}
.farmerDetails{
  margin-top: 3rem;
}
#btn1{
  margin-right: 15px;
}




.fa-check-circle{
  color: green;
  font-size: 25px;
}
