<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload Farmer Aadhar</title>
</head>
<body>
<a class="logoBrand navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" routerLink="" routerLinkActive="active">
  <div class="navbar-brand-dark"><span class="fa fa-leaf"></span> FMS</div>
</a>
<!--<h3 class="text-center">Farmer Management System</h3>-->

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs nav-fill">
      <button class="btn btn-primary" (click)="addFarmerAadhar()" id="btn1">Add Farmer Aadhar</button>
      <button class="btn btn-primary" (click)="viewFarmerAadhar()" id="btn2">View Farmers Aadhar</button>
    </ul>
  </div>

  <div class="card-body">
    <div id="add">
      <fieldset style="margin-left: 2rem; margin-right: 2rem;" class="form-group border p-3">
        <legend class="w-auto px-2">Farmers Details</legend>
        <form #myForm="ngForm" (ngSubmit)="saveFarmerAadhar(myForm)" style="margin-top: 2rem; width: 99%"id="farmerImageForm">
          <div class="container">

            <div class="row farmerDetails">

              <div class="col-sm">
                <div class="col-md-12 custom-file">
                  <label for="farmerName" class="form-label">Select Farmer</label>

                  <select *ngIf="!farmerList?.length" class="custom-select my-1 mr-sm-2"  aria-label="Default select example" style="background-color: #f2f2f2" id="farmerName1" name="farmerName">
                    <option value="Select" selected hidden>No Farmer Present In Database!</option>
                  </select>

                  <select *ngIf="farmerList?.length" (change)="getAadharByFarmerId()" class="custom-select my-1 mr-sm-2"  aria-label="Default select example" style="background-color: #f2f2f2" id="farmerName" name="farmerName">
                    <option value="Select" selected hidden>Select</option>
                    <option *ngFor="let farmer of farmerList" value="{{farmer.id}}">{{farmer.name}}</option>
                  </select>

                  <div id="nameAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="adhaarId" class="form-label">Adhaar ID</label>
                  <input #aadhar (keyup)="checkAadharId(aadhar.value)" maxlength="12" type="text" class="form-control" id="adhaarId" style="background-color: #f2f2f2" name="adhaarId" placeholder="Enter Adhaar ID" required>
                  <div id="aadharAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="adhaarId" class="form-label">Select Aadhar</label>
                  <label for="farmerAadharDoc" class="custom-file-label" style="margin-top: 32px; cursor: pointer">Choose Aadhar Doc.</label>
                  <input (change)="getFile($event)" name="imageData" type="file" class="custom-file-input" id="farmerAadharDoc" name="farmerImage" aria-label="File upload" placeholder="Choose Image" required>
                  <div id="fathersNameAlert" class="custom-alert"></div>
                </div>
              </div>

              <span><button id="downloadFile" (click)="downloadFile()" class="btn btn-icon-only btn-facebook fa fa-download" style="position: absolute; right: 133px; top: 99px;"></button></span>

            </div>

            <div class="col-sm">
              <div class="col-md-12">
              </div>
            </div>

          </div>

          <div style="margin-top: 2rem;" class="container">

            <div class="row buttonClass">

              <div class="col-sm">
                <div class="col-md-12">
                  <button id="btnSubmit" class="btn" type="submit">Submit</button>
                  <button id="btnReset" class="btn" type="reset">Reset</button>
                </div>
              </div>

            </div>
          </div>

        </form>
      </fieldset>
    </div>
    <div id="view">
      <fieldset style="margin-left: 2rem; margin-right: 2rem;" class="form-group border p-3">
        <legend class="w-auto px-2">Farmers Aadhar Document Details Table</legend>
        <table id="dynamicTable" class="table row-border hover table-responsive table-bordered" style="width: 95%; display: table; margin-bottom: 2rem;">

          <thead>
          <tr>
            <th>Sl No.</th>
            <th>Name</th>
            <th>Farmer Image</th>
            <th width="9%">Action</th>
          </tr>
          </thead>


<!--                    If Farmer List Array is Empty-->
          <tbody *ngIf="!FarmerAadharUploadList?.length">
          <tr>
            <td colspan="11">No Data Found, Table is Empty!</td>
          </tr>
          </tbody>

<!--                    If Farmer List Array is Not Empty-->
          <tbody *ngIf="FarmerAadharUploadList?.length">
          <tr *ngFor="let farmerAadharUpload of FarmerAadharUploadList; let count = index">
            <td>{{count + 1}}</td>
            <td>{{farmerAadharUpload.farmerId.name}}</td>
            <td><img src="assets/farmerImages/sambit.jpg"/></td>
            <td><button (click)="editFarmerAadhar(farmerAadharUpload.farmerAadharId)" class="btn btn-icon-only btn-facebook" type="button" aria-label="edit button" title="Edit Data"><span aria-hidden="true" class="fa fa-pencil"></span></button>&nbsp;&nbsp;
              <button (click)="deleteFarmerAadhar(farmerAadharUpload.farmerAadharId)" class="btn btn-icon-only btn-facebook" type="button" aria-label="delete button" title="Delete Data"><span aria-hidden="true" style="color: #da3b3b" class="fa fa-trash"></span></button>
            </td>
          </tr>
          </tbody>

        </table>

        <div class="col-md-3 paginationPage">
          <nav aria-label="Products page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">Previous</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </nav>
        </div>

      </fieldset>
    </div>
  </div>
</div>

<!--<div class="example-button-row">-->
<!--  <button mat-button color="primary" (click)="openModal()">Open Modal</button>-->
<!--</div>-->

</body>
</html>
