<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Farmer Management</title>
</head>
<body>
<a class="logoBrand navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" routerLink="" routerLinkActive="active">
  <div class="navbar-brand-dark"><span class="fa fa-leaf"></span> FMS</div>
</a>
<!--<h3 class="text-center">Farmer Management System</h3>-->

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs nav-fill">
      <button class="btn btn-primary" id="btn1" (click)="addFarmer()">Add Farmer</button>
      <button class="btn btn-primary" id="btn2" (click)="viewFarmer()">View Farmers</button>
    </ul>
  </div>

  <div class="card-body">
    <div id="add">
      <fieldset style="margin-left: 2rem; margin-right: 2rem;" class="form-group border p-3">
        <legend class="w-auto px-2">Farmers Details</legend>
        <form (ngSubmit)="farmerForm()" style="margin-top: 2rem; width: 99%"id="farmerForm">
          <div class="container">

            <div class="row farmerDetails">

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="name" class="form-label">Farmer Name</label>
                  <input #name [(ngModel)]="farmerBean.name" [value]="farmer.name"  type="text"  class="form-control" maxlength="30" id="name" name="name" style="background-color: #f2f2f2" placeholder="Enter Farmer's Name" required>
                  <!-- onkeyup="return(alert(this.value.toString().charCodeAt(0)))"-->
                  <div id="nameAlert" class="custom-alert"></div>
                  <!--                 <span *ngIf="name.invalid && (name.dirty || name.touched)">-->
                  <!--                    <span  class="custom-alert" *ngIf="name.errors?.['required']">-->
                  <!--                      Name is required.-->
                  <!--                    </span>-->
                  <!--                  </span>-->
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="fathersName" class="form-label">Father's Name</label>
                  <input [(ngModel)]="farmerBean.fathersName" [value]="farmer.fathersName" type="text" class="form-control" id="fathersName" name="fathersName" style="background-color: #f2f2f2" placeholder="Enter Father's Name" required>
                  <div id="fathersNameAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="age" class="form-label">Age</label>
                  <input [(ngModel)]="farmerBean.age" [value]="farmer.age" type="number" maxlength="2" class="form-control" id="age" name="age" style="background-color: #f2f2f2" placeholder="Enter Age" required>
                  <div id="ageAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label class="form-label">Gender</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input [(ngModel)]="farmerBean.gender" class="form-check-input" type="radio" id="male" name="gender" style="background-color: #f2f2f2" value="male">
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input [(ngModel)]="farmerBean.gender" class="form-check-input" type="radio"  id="female" name="gender" style="background-color: #f2f2f2" value="female">
                      <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div id="genderAlert" class="custom-alert"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 2rem;">
              <div class="col-sm">
                <div class="col-md-12">
                  <label for="relation" class="form-label">Relation</label>
                  <select [(ngModel)]="farmerBean.relation" [value]="farmer.relation" class="custom-select my-1 mr-sm-2"  aria-label="Default select example" style="background-color: #f2f2f2" id="relation" name="relation">
                    <option selected value="Self">Self</option>
                  </select>
                  <div id="relationAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="accountNumber" class="form-label">Account Number</label>
                  <input [(ngModel)]="farmerBean.accountNumber" [value]="farmer.bank.accountNumber" type="text" class="form-control" id="accountNumber" style="background-color: #f2f2f2" name="accountNumber" placeholder="Enter  Account Number" required>
                  <div id="accountNumberAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="ifscCode" class="form-label">IFSC Code</label>
                  <input #ifscCode (keyup)="checkIFSCCode(ifscCode.value)" [(ngModel)]="farmerBean.ifscCode" [value]="farmer.bank.ifscCode" type="text"  class="form-control" id="ifscCode" style="background-color: #f2f2f2" name="ifscCode" placeholder="Enter IFSC Code" required>
                  <div id="ifscAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="bankName" class="form-label">Bank Name</label>
                  <input [(ngModel)]="farmerBean.bank" [value]="farmer.bank.bankName" type="text"  class="form-control" id="bankName" style="background-color: #f2f2f2" name="bankName" placeholder="Enter Bank Name" required>
                  <div id="bankAlert" class="custom-alert"></div>
                  <!--                  <select [(ngModel)]="farmerBean.bank" class="custom-select my-1 mr-sm-2"  aria-label="Default select example" style="background-color: #f2f2f2" id="bankName" name="bankName">-->
                  <!--                    <option selected value="0">Select</option>-->
                  <!--                    <option value="State Bank of India">State Bank of India</option>-->
                  <!--                    <option value="Bank of Baroda">Bank of Baroda</option>-->
                  <!--                    <option value="Axis Bank">Axis Bank</option>-->
                  <!--                    <option value="Uco Bank">Uco Bank</option>-->
                  <!--                    <option value="HDFC Bank">HDFC Bank</option>-->
                  <!--                  </select>-->
                </div>
              </div>

            </div>

            <div class="row" style="margin-top: 2rem;">
              <div class="col-sm">
                <div class="col-md-12">
                  <label for="mobile" class="form-label">Mobile Number</label>
                  <input type="text" [(ngModel)]="farmerBean.mobile" [value]="farmer.mobile" maxlength="10" class="form-control" id="mobile" style="background-color: #f2f2f2" name="mobile" placeholder="Enter Mobile Number" required>
                  <div id="mobileAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="uniqueId" class="form-label">Unique ID</label>
                  <select #uniqueId (change)="uniqueDropDownChange(uniqueId.value)" [(ngModel)]="farmerBean.uniqueId" class="custom-select my-1 mr-sm-2" aria-label="Default select example" style="background-color: #f2f2f2" id="uniqueId" name="uniqueId">
                    <option value="0" selected hidden>Select</option>
                    <option value="1">Ack Id</option>
                    <option value="2">Janadhaar Id</option>
                    <option value="3">Adhaar Id</option>
                  </select>
                  <div id="uniqueIdAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <div id="id1">
                    <label for="ackId" class="form-label">Acknowledge ID</label>
                    <input [(ngModel)]="farmerBean.acknowledge" type="text" maxlength="15" class="form-control" id="ackId" style="background-color: #f2f2f2" name="ackId" placeholder="Enter Acknowledge ID" required>
                    <div id="ackAlert" class="custom-alert"></div>
                  </div>
                  <div id="id2">
                    <label for="janadhaarId" class="form-label">Janadhaar ID</label>
                    <input [(ngModel)]="farmerBean.janAdhaar" maxlength="10" type="text" class="form-control" id="janadhaarId" style="background-color: #f2f2f2" name="janadhaarId" placeholder="Enter Janadhaar ID" required>
                    <div id="janAlert" class="custom-alert"></div>
                  </div>
                  <div id="id3">
                    <label for="adhaarId" class="form-label">Adhaar ID</label>
                    <input #aadhar [(ngModel)]="farmerBean.aadhar" (keyup)="checkAadharId(aadhar.value)"  maxlength="12" type="text" class="form-control" id="adhaarId" style="background-color: #f2f2f2" name="adhaarId" placeholder="Enter Adhaar ID" required>
                    <div id="aadharAlert" class="custom-alert"></div>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                </div>
              </div>

            </div>

          </div>

          <div style="margin-top: 2rem;" class="container">

            <div class="row buttonClass">

              <div class="col-sm">
                <div class="col-md-12">
                  <button id="btnSubmit" class="btn" type="submit">Submit</button>
                  <button id="btnReset" class="btn" type="reset">Reset</button>
                </div>
              </div>

            </div>
          </div>

        </form>
      </fieldset>
    </div>
    <div id="view">
      <fieldset style="margin-left: 2rem; margin-right: 2rem;" class="form-group border p-3">
        <legend class="w-auto px-2">Farmers Details Table</legend>
        <table id="dynamicTable" class="table row-border hover table-responsive table-bordered" style="width: 95%; display: table; margin-bottom: 2rem;">

          <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>Sl No.</th>
            <th>Name</th>
            <th>Father's Name</th>
            <th>Relation</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Aadhar No.</th>
            <th>Acknowledge No.</th>
            <th>Janadhaar No.</th>
            <th>Bank Acc. No.</th>
            <th>Status</th>
            <th>Date</th>
            <th>Relatives</th>
            <th>Validate</th>
            <th>Download</th>
            <th width="9%">Action</th>
          </tr>
          </thead>

          <!--          If Farmer List Array is Empty-->
          <tbody *ngIf="!farmerList?.length">
          <tr>
            <td colspan="11">No Data Found, Table is Empty!</td>
          </tr>
          </tbody>

          <!--          If Farmer List Array is Not Empty-->
          <tbody *ngIf="farmerList?.length">
          <tr *ngFor="let farmer of farmerList; let count = index">
            <td><input type="checkbox" (change)="getCheckValue($event, farmer.id)"></td>
            <td>{{count + 1}}</td>
            <td>{{farmer.name}}</td>
            <td>{{farmer.fathersName}}</td>
            <td>{{farmer.relation}}</td>
            <td>{{farmer.gender}}</td>
            <td>{{farmer.age}}</td>
            <td *ngIf="!farmer.aadhar">Not Provided</td>
            <td *ngIf="farmer.aadhar">{{farmer.aadhar.aadharId}}</td>
            <td *ngIf="!farmer.acknowledge">Not Provided</td>
            <td *ngIf="farmer.acknowledge">{{farmer.acknowledge.acknowledgeId}}</td>
            <td *ngIf="!farmer.janAdhaar">Not Provided</td>
            <td *ngIf="farmer.janAdhaar">{{farmer.janAdhaar.janadhaarId}}</td>
            <td title="Click To Fetch Details"><a href="javascript:void(0)" (click)="showBankDetails(farmer.bank, farmer.name)">{{farmer.bank.accountNumber}}</a></td>
            <td>
              <ng-template [ngIf]="farmer.gender == 'male'" [ngIfElse]="elseTemplate">Valid</ng-template>
              <ng-template #elseTemplate> Not Valid</ng-template>
            </td>
            <td>{{staticDate | date}}</td>
            <td title="Click To View Relatives"><button (click)="viewRelatives(farmer, farmer.relationList, farmer.name, farmer.id)" class="btn btn-icon-only btn-facebook fa fa-eye" style="color: black"></button></td>
            <td>
              <div *ngIf="isLoading"><div class="loadingio-spinner-rolling-o08pwprj6g"><div class="ldio-1vv3dp0tlwf"><div></div></div></div><div>Verifying</div></div>
              <div *ngIf="!isLoading"><div><i class="fa fa-check-circle" ></i><div>Varified</div></div></div>
            </td>
            <td>
              <button class="btn btn-icon-only btn-facebook" type="button" aria-label="edit button" title="Download Excel"><span aria-hidden="true" class="fa fa-file-excel-o"></span></button>
            </td>
            <td>
              <button (click)="editFarmer(farmer.id)" class="btn btn-icon-only btn-facebook" type="button" aria-label="edit button" title="Edit Data"><span aria-hidden="true" class="fa fa-pencil"></span></button>&nbsp;&nbsp;
              <button (click)="deleteFarmer(farmer.id)" class="btn btn-icon-only btn-facebook" type="button" aria-label="delete button" title="Delete Data"><span aria-hidden="true" style="color: #da3b3b" class="fa fa-trash"></span></button>
            </td>
          </tr>
          </tbody>

        </table>

        <div class="col-md-3 paginationPage">
          <nav aria-label="Products page navigation">
            <!--            [innerHtml]="paginationData"-->
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="https://google.com" target="_blank" (click)="getData1()">Previous</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)"  (click)="getData1()">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">Next</a>
              </li>
            </ul>
          </nav>
        </div>

      </fieldset>
    </div>
  </div>
</div>

<div id="timer" style="margin-left: 2rem;">Timer : {{timer}}</div>

<!--<div class="example-button-row">-->
<!--  <button mat-button color="primary" (click)="openModal()">Open Modal</button>-->
<!--</div>-->

</body>
</html>
