<h3>Test Purpose Only</h3>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <label class="col-form-label black">No. Of Days </label>
  <strong class="text-danger ms-1" *ngIf="isPatientPreAuthRequired">*</strong>
  <div class="pkghead-txt black">
    <input id="ocPreAuthNoOfDays" maxlength="2" min="1" max="99" type="text" autocomplete="off"
           oninput="validity.valid||(value='');" [(ngModel)]="ocPreAuthNoOfDays" class="form-control"
           onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter Days"/>
  </div>
</div>
<form>
  <input type="checkbox" value="Aadhar" />
  <input type="checkbox" value="Janaadhar" />
  <input type="checkbox" value="Acknowledge" />
  <input (click)="myFun()" type="button" value="Submit"/>

  <label class="mb-2 text-left">Time Remaining <span id="otpTimer">{{ formattedTime }}</span></label>
  <button (click)="addTime()">Add 10 Minutes</button>
</form>
