<body>
<h3 class="text-center">Home</h3>
<a routerLink="/farmerManagement" routerLinkActive="active"><button class="btn btn-primary homeButton">Farmer Management</button></a>
<a routerLink="/farmerPortalRegistration" routerLinkActive="active"><button class="btn btn-primary homeButton">Farmer Portal</button></a>
<a routerLink="/farmerImageUpload" routerLinkActive="active"><button class="btn btn-primary homeButton">Farmer Image Upload</button></a>
<a routerLink="/uploadAadharDocument" routerLinkActive="active"><button class="btn btn-primary homeButton">Farmer Aadhar Upload Doc.</button></a>
<a routerLink="/farmerEducationDetails" routerLinkActive="active"><button class="btn btn-primary homeButton">Add Farmer Education</button></a>

<div class="col-xxl-6 col-lg-6 col-md-5 col-sm-6 col-xs-12 mb-4">
  <h6>
    <strong class="text-danger-glow blink" style="color:#da0101; cursor:pointer;">Blinks Here</strong>
    Sambit Kumar Pradhan!
  </h6>
</div>

</body>
